<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-parent="#accordion3" data-toggle="collapse" href="#offer3"><span class="glyphicon glyphicon-chevron-right"></span> Offer 1: Planning a trip to Expo 2020 Dubai? Use your Mastercard and enjoy exclusive benefits.</a></h4>
    </div>
    
    <div class="panel-collapse collapse" id="offer3">
        <div class="panel-body">
            <p>With your FCMB Mastercard, you can enjoy up to 30% discount on hotel bookings, flights and holiday packages</p>
            
            <table border="1" cellpadding="0" cellspacing="0" class="table table-hover table-striped">
                <tbody>
                    <tr>
                        <td>
                        <p>&nbsp;</p>
                        </td>
                        <td>
                        <p><strong>Offerings</strong></p>
                        </td>
                        <td>
                        <p><strong>Validity </strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p><strong><a href="https://www.priceless.com/expo2020?country=ae&amp;lang=en-us">Emirates Holidays</a></strong></p>
            
                        <p>&nbsp;</p>
                        </td>
                        <td>
                        <p>5% off on holiday packages to Dubai including a day pass to EXPO 2020, meet &amp; greet at Dubai Airport, bonus Skywards miles, and more.</p>
                        </td>
                        <td>
                        <p>On-going until end of Expo: 31 March 2022</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p><strong><a href="https://search.emaarhospitality.com/EHG?&amp;identifier=MASTERCARDEHG&amp;datein=09/09/2021&amp;length=1#/">The Address and Vida Hotels</a></strong></p>
            
                        <p>&nbsp;</p>
                        </td>
                        <td>
                        <p>Up to 30% off across Address and Vida Hotels</p>
                        </td>
                        <td>
                        <p>Offer valid from 1st October 2021 – 15th March 2022, for bookings up to 31st March 2022</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p><strong><a href="http://www.priceless.com/expo2020">Priceless Cities</a></strong></p>
            
                        <p><strong>&nbsp;</strong></p>
                        </td>
                        <td>
                        <p>Hundreds of exclusive benefits, experiences, and offers across travel, culinary, and entertainment.</p>
                        </td>
                        <td>
                        <p>&nbsp;</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <p>Terms &amp; conditions apply. Discounts are exclusive of taxes.</p>
        </div>
    </div>
</div>
    
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-parent="#accordion2" data-toggle="collapse" href="#offer2"><span class="glyphicon glyphicon-chevron-right"></span> Offer 2: Get 10% cashback in the Verve Good Life Promo 2.0</a>.</h4>
    </div>
    
    <div class="panel-collapse collapse" id="offer2">
        <div class="panel-body">
            <p>You can get 10% cashback on transactions worth N20,000 or less with your FCMB Verve card in the Verve Good Life Promo 2.0 if you haven't used your Verve card in the last 6 months.</p>
            
            <p>That's not all, another N10,000 cash reward is also up for grabs for frequent card users.</p>
            
            <p>To enjoy this offer, simply use your FCMB Verve card for ATM, POS or online transactions.</p>
            
            <p>Remember the more transactions you do, the more your chances of winning.</p>
            
            <p>Please note that the cashback is capped at N2,000 and the offer is valid from February 1 till March 31, 2022.</p>
            
            <p>Terms &amp; conditions apply.</p>
        </div>
    </div>
</div>
    
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-parent="#accordion1" data-toggle="collapse" href="#collapseG"><span class="glyphicon glyphicon-chevron-right"></span> Offer 3: Up to 20% discount at any of the selected restaurants and fashion shop below</a></h4>
    </div>
    
    <div class="panel-collapse collapse" id="collapseG">
        <div class="panel-body">
                <p>With either your FCMB Mastercard or Verve Card, you can enjoy up to 20% discount at any of the selected restaurants and fashion shop below:</p>
        
                <table border="1" cellpadding="0" cellspacing="0" class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <td>
                            <p><strong>Available Card Campaign</strong></p>
                            </td>
                            <td>
                            <p><strong>Offering</strong></p>
                            </td>
                            <td>
                            <p><strong>Available channel</strong></p>
                            </td>
                            <td>
                            <p><strong>Card Type</strong></p>
                            </td>
                            <td>
                            <p><strong>Validity period</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <p>Fazsion</p>
                
                            <p><a href="https://express.fazsion.ng/black-friday.html">https://express.fazsion.ng/black-friday.html</a></p>
                            </td>
                            <td>
                            <p>20% Discount</p>
                            </td>
                            <td>
                            <p>Fashion shops</p>
                            </td>
                            <td>
                            <p>Available to all FCMB Verve, MasterCard, and VISA Cardholders</p>
                            </td>
                            <td>
                            <p>On-going</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
    
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-parent="#accordion4" data-toggle="collapse" href="#offer4"><span class="glyphicon glyphicon-chevron-right"></span> Offer 4: Get exclusive deals on dining, travel and entertainment with your FCMB Mastercard on </a><a href="https://mydealzone.africa/">Mydealzone</a>.</h4>
    </div>
    
    <div class="panel-collapse collapse" id="offer4">
        <div class="panel-body">
        <p>Here’s what to do:</p>
        
        <ul>
            <li>Simply visit https://mydealzone.africa/</li>
            <li>Sign up or Log in</li>
            <li>Choose preferred items with exclusive deals</li>
            <li>Add to cart</li>
            <li>Pay with your FCMB Mastercard</li>
        </ul>
        </div>
    </div>
</div>
    